<configuration>
    <param name="ConversionPattern" value="%-5p - [%-80m] - at %c.%M(%F:%L)%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- pattern>%M %X{REQ} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern -->
            <pattern>cli %d{mm:ss.SSS} %highlight(%-5level)  [%thread] %logger{0}.%M->\(%file:%line\) %msg \n</pattern>
            <!--pattern>rrr%d{HH:mm:ss.SSS} %highlight(%-5level)  [%thread] %logger{36}.%M->%msg \(%line\) [%F:%L] %n </pattern-->
        </encoder>
    </appender>

    <!-- appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>MyLog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n  [%file:%line] </Pattern>
        </layout>
    </appender-->

    <logger name="ch.qos" level="ERROR"/>
    <logger name="com.kserver" level="WARN"/>
    <logger name="com.begemot.knewsclient" level="DEBUG"/>
    <logger name="com.begemot.knewscommon" level="DEBUG"/>
    <logger name="com.begemot.ktestnews" level="DEBUG"/>
    <logger name="com.begemot.translib" level="DEBUG"/>
    <logger name="com.begemot.newspapers" level="DEBUG"/>
    <logger name="com.begemot" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!-- appender-ref ref="FILE" / -->
    </root>



</configuration>